@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

br {
  display: block;
  content: "";
  margin: 10px 0;
}

* {
  box-sizing: border-box;
}

.white-description{
  @apply leading-relaxed tracking-wide text-gray-200 font-semibold text-xs antialiased
}

.gray-description{
  @apply leading-relaxed tracking-wide text-gray-400 font-semibold text-xs antialiased
}

.dark-filter {
  @apply absolute top-0 w-full h-72 backdrop-filter backdrop-brightness-50 bg-gray-400/20 hover:backdrop-brightness-100
}